<div id="discounts-panel">
  <div class="panel">
    <span class="discount-title">Your unique discount: -{{user.uniqueDiscountValue}}%</span>
    <div class="discount-movie">

      <div class="discount-movie-title" (click)='movieClicked(user.uniqueDiscount.id)'>
        <span class="discount-movie-title-text">{{user.uniqueDiscount.title}}</span>
      </div>

      <div class="discount-movie-picture" (click)='movieClicked(user.uniqueDiscount.id)'>
        <img src="assets/{{user.uniqueDiscount?.pictureUrl}}"
        [style.width.px]='400'/>
      </div>

      <div class="discount-movie-description">
        {{user.uniqueDiscount.shortDescription}}
      </div>

      <div id="tickets-link" (click)="bookTicketsClicked()">
        <span id="tickets-text">Book tickets &#9658;</span>
      </div>

    </div>

    <span class="discount-title">Our weekly discount: -{{weeklyDiscountValue}}%</span>
    <div class="discount-movie">

      <div class="discount-movie-title" (click)='movieClicked(weeklyDiscount.id)'>
        <span class="discount-movie-title-text">{{weeklyDiscount.title}}</span>
      </div>

      <div class="discount-movie-picture" (click)='movieClicked(weeklyDiscount.id)'>
        <img src="assets/{{weeklyDiscount?.pictureUrl}}"
        [style.width.px]='400'/>
      </div>

      <div class="discount-movie-description">
        {{weeklyDiscount.shortDescription}}
      </div>

      <div id="tickets-link" (click)="bookTicketsClicked()">
        <span id="tickets-text">Book tickets &#9658;</span>
      </div>

    </div>

  </div>
</div>
