.panel
{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #232323;
  border-radius: 10px;
}

.discount-title {
  font-size: 24px;
  border-bottom: 1px solid #ffd000;
}

.discount-movie
{
  border-bottom: 1px dashed #ffd000;
  margin-bottom: 20px;
}

.discount-movie-title
{
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
}

.discount-movie-title-text:hover
{
  cursor: pointer;
  border-bottom: 1px solid red;
  transition: 0.2s linear;
}

.discount-movie-picture
{
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 20px;
}

.discount-movie-picture:hover
{
  filter:brightness(0.7);
  cursor: pointer;
  transition: 0.2s linear;
}

.discount-movie-description
{
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  text-align: justify;
}

#tickets-link
{
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 25px;
}

#tickets-text
{
  border-bottom: 1px solid #dbaa09;
}

#tickets-text:hover
{
  cursor: pointer;
  border-bottom: 1px solid #ff0000;
  filter: brightness(90%);
  transition: border-bottom 0.3s linear;
}
