#wrapper
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.panel
{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #232323;
  border-radius: 10px;
}

.text-content
{
  font-size: 18px;
  text-align: center;
}