#container
{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 40px;
}

#footer-content
{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 5px;
}
