<div id="container">
  <div id="announcement-title">
    <span id="announcement-plain-title">
      The Modern Cinema is finally open!
    </span>
    <br />
  </div>
  <div id="announcement-content">
    After 6 months of COVID-19 restrictions we're finally open! Our new cleaning and disinfecting procedures are good enough to meet the WHO standards and invite you to a real showing! We added better ventilation system to auditorium and made new work schedule which contains cleaning and maintaining our cinema hall to ensure you're safe. Face coverings are no longer mandatory but we advice to use your own discretion and feel free to wear it for your comfort. As ever, your enjoyment and comfort is our #1 priority and we look forward to welcoming you in our cinema.
  </div>
</div>
