<div id="wrapper">
  <div class="panel">
    <div class="text-content">
      Modern cinema is a simple application which aims to showcase my programming skills. This app is a combination of a front-end server, back-end server and database. Everything is secured by login mechanism with JWT tokens.
      <br /><br />
      Front-end is written in angular. It's a very useful technology made for building single-page client applications. Everything you see here communicates with database via http requests sent to back-end server.
      <br /><br />
      Back-end is written in the asp.net technology. Records are saved to MySQL database using Entity Framework which is very helpful. It can generate databases based on C# classes, edit existing databases, and interact with the data.
      <br /><br />
      Feel free to check out all the features and my way of implentation. <br />
      Here's this project on GitHub:
      <br />
      <a href="https://github.com/Hametti/CinemaApp-Frontend" target="blank">CinemaApp - Frontend</a>
      <br />
      <a href="https://github.com/Hametti/CinemaApp-Backend" target="blank2">CinemaApp - Backend</a>
    </div>
  </div>
</div>
