<div id="container">
  <h1 style="margin-bottom: 20px;">Log in</h1>
  <div class="inputBox">
    <input id="login-input" type='text' placeholder="login">
  </div>

  <div class="inputBox">
    <input id="password-input" type='password' placeholder="password">
  </div>

  <div id="buttons">
    <button type="button" (click)="signInClick()">Sign in</button>
    <button type="button" [routerLink]="['/sign-up']">Sign up</button>
  </div>

  <span id="forgottenPassword" style="font-size: 12px;" (click)="forgotPasswordClick()">
    Forgot password?
  </span>
  <div *ngIf='loginFailedMessage'>{{loginFailedMessage}}</div>
</div>
