<div id="container">
    <div class="screening-days" *ngFor='let screeningDay of screeningDays'>
        
        <div class="screening-day-date">
            {{screeningDay.date}}
        </div>

        <div class="screenings" >
          <div class="screening" *ngFor='let screening of screeningDay.screenings'>
            
            <div class="screening-left-side">
              <div class="picture" (click)="pictureClicked(screening.movieId)">
                <img src="assets/{{screening.pictureUrl}}"
                [style.width.px]='300' />
              </div>
            </div>
    
            <div class="screening-right-side">

              <div class="title">
                {{screening.movieTitle}}
              </div>
    
              <div class="showing-hour" *ngFor='let hour of screening.screeningHours' (click)="hourClicked(hour.screeningId)">   
                  {{hour.hour}}
              </div>

            </div>

            <div style="clear: both;"></div>
    
          </div>
        </div>
      </div>
</div>