#container
{
    font-family:'Courier New', Courier, monospace;
}

#panel-title
{
    text-align: center;
}

.screening-days
{
  margin-bottom: 40px;
}

.screening-day-date
{
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

.screenings
{
  border: 1px solid #646464;
  border-radius: 10px;
}

.screening
{
  padding: 25px 40px 40px;
}

.screening-left-side
{
  float: left;
  margin-right: 60px;
}

.picture:hover
{
  filter: brightness(0.7);
  transition: 0.2s linear;
  cursor: pointer;
}

.screening-right-side
{
  float: left;
}

.title
{
  font-size: 26px;
}

.showing-hour
{
  float: left;
  font-size: 18px;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.showing-hour:hover
{
  background-color: #4d4d4d;
  transition: 0.2s linear;
  cursor: pointer;
}
