<div id="slide-header">
  Most popular:
</div>
<div id="wrapper" *ngIf='movies'>
  <div id="slide">
    <div id="slide-image">
      <img src="assets/{{movies[counter]?.pictureUrl}}"
      [style.width.px]='1000' />
    </div>
      <div id="slide-text" [routerLink]="['/movie', movies[counter]?.movieId]">
        {{movies[counter]?.title}}
      </div>
  </div>
      <span class="current-slide" *ngFor='let item of cubeIds'>
        <span style="color: #ffd000; padding-left: 5px; padding-right: 5px;" *ngIf="item==counter; else elseBlock">&#9830;</span>
        <ng-template #elseBlock><span style="padding-left: 5px; padding-right: 5px;" (click)='changeSlide(item)'>&#9830;</span></ng-template>
        </span>
</div>
