#panel
{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #272727;
  padding: 20px 40px;
  border-radius: 10px;
  font-family:'Courier New', Courier, monospace;
}

.screening-days
{
  margin-bottom: 40px;
}

.screening-day-date
{
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
}

.screenings
{
  border: 1px solid #646464;
  border-radius: 10px;
}

.screening
{
  padding: 25px 40px 40px;
}

.screening-left-side
{
  float: left;
  margin-right: 60px;
}

.picture:hover
{
  filter: brightness(0.7);
  transition: 0.2s linear;
  cursor: pointer;
}

.screening-right-side
{
  float: left;
}

.title
{
  font-size: 26px;
}

.showing-hour
{
  float: left;
  font-size: 18px;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

#tickets-link
{
  width: 200px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#tickets-text
{
  border-bottom: 1px solid #dbaa09;
}

#tickets-text:hover
{
  cursor: pointer;
  border-bottom: 1px solid #a30a0a;
  transition: border-bottom 0.3s linear;
}
