<div id="wrapper">
    <div class="screening-info" *ngIf='screeningInfo'>
        Chosen movie: {{screeningInfo.movieTitle}} <br/>
        Chosen date: {{screeningInfo.date}}, {{screeningInfo.hour}} <br />
        <div style="text-align: center; margin-top: 20px;"><span style="font-size: 20px;">Click seats you would like to reserve</span></div>
    </div>

    <div id="screen">SCREEN</div>
    <div id='seat-wrapper'>
        <div class="row" *ngFor='let row of rows'>
            <div class="seat" *ngFor='let seat of row.seats'>
                
                <div class="seat-content" *ngIf='!seat.isOccupied && seats.indexOf(seat) < 0' (click)='seatClicked(seat)'>
                    <div class="seat-text">{{seat.seatNumber}}</div>
                </div>

                <div class="occupied-seat-content" *ngIf='seat.isOccupied'>
                    <div class="seat-text">{{seat.seatNumber}}</div>
                </div>

                <div class="clicked-seat-content" *ngIf='seats.indexOf(seat) > -1' (click)='seatClicked(seat)'>
                    <div class="seat-text">{{seat.seatNumber}}</div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="seat-info">
        Chosen seats: <br/>
        <div *ngFor='let seat of seats'>
            <div>Row: {{seat.row}}, Number: {{seat.seatNumber}}<br/></div>
        </div>
    </div>
    <div class="buttons">
        <button type="button" (click)='confirmReservation()'>Confirm reservation</button>
    </div>

    <div id="error-message" *ngIf='errorMessage'>
        {{errorMessage}}
    </div>
</div>
