<div id="wrapper">

  <div id="pills">
  <div class="pill" (click)="changeTab('reservations')">My reservations</div>
  <div class="pill" (click)="changeTab('discounts')">Discounts</div>
  <div class="pill" (click)="changeTab('account-settings')">Account settings</div>
  <div style="clear: both"></div>
  </div>

  <div id="reservations-panel" *ngIf="currentTab=='reservations'">
    <reservations></reservations>
  </div>

  <div id="discounts-panel" *ngIf="currentTab=='discounts'">
    <discounts></discounts>
  </div>

  <div id="account-settings-panel" *ngIf="currentTab=='account-settings'">
    <account-settings (changePasswordClicked)='accountSettingsButtonClicked($event)'></account-settings>
  </div>

  <div id="change-password-panel" *ngIf="currentTab=='change-password'">
    <change-password></change-password>
  </div>

  <div id="delete-account-panel" *ngIf="currentTab=='delete-account'">
    <delete-account></delete-account>
  </div>

</div>
